main {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-gap: 0;
  justify-content: center;
  align-items: center;
}

app-square {
  border: 1px solid;
  height: 150px;
}

@media screen and (max-width: 480px) {
  main {
    grid-template-columns: 100px 100px 100px;
  }
  app-square {

    height: 100px;
  }
}
